


.drawer_glass_style{
  background: rgba(255, 255, 255, 0.02);
  border-radius: 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(255, 255, 255, 0.11);
}


.drawer_glass_style2{
  background: rgba(249, 249, 249, 0.5);
  border-radius: 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(5, 41, 61, 0.3);
}