@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import "variable";
@import "header";
@import "heroicon";
@import "hero";
@import "bodyLink";
@import "SlidebarToggle";
@import "InFocus";
@import "StatCounter";
@import "eMap";
@import "footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

::selection {
	color: white;
  	background: #098BAB;
}


@media (min-width: 1300px) {
    .container{
        max-width: 1220px;
    }
}
@media (min-width: 1100px) and (max-width: 1299px) {
    .container{
        max-width: 1120px;
    }
}
@media (min-width: 1400px) {
    .container{
        max-width: 1320px;
    }
}