
#bodyLink{
    position:relative;
    width: 100%;
    background-color: rgb(20, 30, 48);
    color: white;
    height: 70px;
    margin-top: -15px;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: rgb(221, 221, 221);
                font-size: 22px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: rgb(140, 140, 140);
                }
            }
        }
    }
}

@media screen and (max-width: 567px){
    #bodyLink{
        margin-top: 0px;
        padding-top: 10px;
        height: 45px;
        ul{
            li{
                a{
                    font-size: 14px;
                }
            }
        }
    }
}

//our work section

#ourWork{
    position: relative;
    padding-top: 15px;
    pre{
        text-align: center;
        color: rgb(84, 84, 84);
        font-size: 14px;
    }
    h1{
        text-align: center;
        padding-top: 2px;
        font-size: 30px;
        color: rgba(20, 30, 48, 0.871);
    }
    .WorkSectionView{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .section{
        margin: 5px;
        padding: 20px;
        background-color: rgba(172, 172, 172, 0.494);
        border-radius: 5px;
        text-align: center;
        b{
            color: rgb(20, 30, 48);
            font-size: 22px;
        }
        p{
            padding-top: 10px;
            padding-bottom: 4px;
            color: rgba(20, 30, 48, 0.871);
        }
        i{
            color: rgba(20, 30, 48, 0.871);
        }
        &:hover i{
            transition: all 0.3s ease-in-out;
            transform: translateY(-20px) rotate(8deg);
        }
    }
}


@media screen and (max-width: 768px){
    #ourWork{
        .section{
            padding: 3px 3px 7px 5px;
            margin: 0px -10px 0px -10px;
            p{
                padding-top: 2px;
                padding-left: 6px;
                text-align: left;
            }
        }
    }
}

@media screen and (max-width: 567px){
    #ourWork{
        padding-top: 5px;
        pre{
            font-size: 12px;
            margin: -10px 0px;
        }
        h1{
            margin-bottom: 20px;
        }
        .WorkSectionView{
            margin-top: -25px;
        }
        h1{
            font-size: 20px
        }
        .section{
            margin: 0px 5px 15px 5px;
            i{
                margin-top: 0px;
                padding-bottom: 10px;
            }
        }
    }
}